#countries-details {
    display: none;
}

#flag {
    width: 60%;
}

#title {
    text-align: center;
}

#country-name {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: whitesmoke;
}

.country-name-lists {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}